<div class="Heading">
   <h1>Weekly Roster </h1> 
   {{#if messages.error}}
<div class="flash-error">
    {{messages.error}}
</div>
{{/if}}

{{#if messages.success}}
<div class="flash-success">
    {{messages.success}}
</div>
{{/if}}
</div>
<div class="key">
     <h3>Staffing status:</h3>
    <ul class="adminUl">
        <li><div class="green-key"></div> There are enough waiters for the day</li>
        <li><div class="red-key"></div> There are less than 3 waiters available for the day</li>
        <li><div class="orange-key"></div>  There are more than 5 waiters for the day</li>
    </ul>
</div>
<div class="Onduty">
    <div class="flash-success"></div>
<div class="flash-error"></div>
    <form action="/day" method="GET">
<table>
  <thead>
    <tr>
      {{#each allSchedules}}
        <th class="{{this.status}}">
          {{@key}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each allSchedules}}
        <td>
          {{#each this.waiters}}
            {{this}}<br>
          {{/each}}
        </td>
      {{/each}}
    </tr>

  </tbody>
</table>
    </form>
</div>
<form action="reset" method="POST">
    <input class="resetB" type="submit" value="reset">
</form>
<script>
// Reset button confirmation

document.querySelector('.resetB').addEventListener('click', async (event) => {
      event.preventDefault();
     
      const confirmReset = confirm('Are you sure you want to reset?');
      
      if (confirmReset) {
        try {
          const response = await fetch('/reset', { method: 'POST' });
          if (response.ok) {
            location.reload()
          } 
        } catch (error) {
          console.error('An error occurred', error);
        }
      }
    });

</script>